body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	font-size: 14px;
	font-family: Roboto,arial,sans-serif;
	color: #222
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

footer {
	color: #555555;
	background-color: #f2f2f2;
}

.primary-nav {
	display: flex;
	flex-flow: nowrap;
	padding: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 10px;
}

.left-nav {
	display: flex;
	margin-right: auto;
	align-items: center;
}

.left {
	padding: 5px;
	margin-left: 8px;
}

.right-nav {
	display: flex;
	align-items: center;
}

.right {
	padding: 5px;
	margin-left: 8px;
}

.products{
	padding: 8px;
	outline: none;
	vertical-align: middle;
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	margin-left: 4px;
	margin-right: 4px;
}

.products:hover {
	border-radius: 50%;
	background-color: #f2f2f2;
}

.dots {
	height: 24px;
	color: #5f6368;
	opacity: 1;
}


.profile-pic {
	vertical-align: middle;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.profile:hover {
	border-radius: 50px;
	background-color: #f2f2f2;
}

.primary-logo {
	display: flex;
	justify-content: center;
	margin-top: 200px;
	margin-bottom: 25px;
}

.searchbar {
	display: flex;
	width: auto;
	max-width: 584px;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #dfe1e5;
	background-color: transparent;
	border-radius: 24px;
	z-index: 3;
	height: 44px;
	margin: 0 auto;
}

.magnify {
	margin-left: 15px;
}

.mic {
	margin-right: 15px;
}

.search-input {
	background-color: transparent;
	border: none;
	margin: 0 10px;
	padding: 0;
	color: black;
	word-wrap: break-word;
	outline: none;
	display: flex;
	flex: 100%;
	height: 34px;
	font-size: 16px;
}

